<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="shortcut icon" href="img/v.ico" type="image/x-icon">  
  <!-- https://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests -->
  <!-- <link rel="icon" href="data:;base64,iVBORw0KGgo="> -->
</head>

<body>
